<div class="team__main-container">
  <div class="team__card">
    <div class="space-between items-center">
      <h1>Team Generator</h1>
      <div>
        <Button (click)="reset()">Reset</Button>
      </div>
    </div>
    <ul class="team__list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="team__add-members-form">
      <input
        #memberInput
        type="text"
        placeholder="Name"
        (input)="onInputChange(memberInput.value)"
        [value]="newMemberName"
      />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="team__generate-members-form">
      <input
        #noOfTeams
        type="number"
        placeholder="# of teams"
        (input)="onNoOfTeams(noOfTeams.value)"
        [value]="numberOfTeams"
      />
      <button (click)="generateTeams()">Generate</button>
    </div>
    <div *ngIf="teams.length">
      <app-teams
        *ngFor="let team of teams; let i = index"
        [team]="team"
        [index]="i"
      >
      </app-teams>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>
</div>
